[submodule "Cab Ov Did"]
	path = Cab Ov Did
	url = https://github.com/Git-Pikakid98/cab-ov-did.git
[submodule "Cet Werfur"]
	path = Cet Werfur
	url = https://github.com/Git-Pikakid98/cet-werfur.git
[submodule "Sempbul M3ur Mekur"]
	path = Sempbul M3ur Mekur
	url = https://github.com/Git-Pikakid98/sempbul-mu3r-mekur.git
[submodule "Merk Minshun"]
	path = Merk Minshun
	url = https://github.com/Git-Pikakid98/merk-minshun.git
