[submodule "cab-ov-did"]
	path = cab-ov-did
	url = https://github.com/Git-Pikakid98/cab-ov-did.git
[submodule "cet-werfur"]
	path = cet-werfur
	url = https://github.com/Git-Pikakid98/cet-werfur.git
[submodule "sempbul-mu3r-mekur"]
	path = sempbul-mu3r-mekur
	url = https://github.com/Git-Pikakid98/sempbul-mu3r-mekur.git
[submodule "merk-minshun"]
	path = merk-minshun
	url = https://github.com/Git-Pikakid98/merk-minshun.git
